name: Deploy to All Repos

on:
  workflow_dispatch: 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy workflows
        env:
          GH_TOKEN:  ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x scripts/deploy-workflow.sh
          ./scripts/deploy-workflow.sh
