name: Reusable Docker Build

on:
  workflow_call:
    secrets: 
      DOCKER_USERNAME:
        required:  true
      DOCKER_PASSWORD: 
        required: true

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository. name }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
